.ps-wrapper {
    width: 100vw;

    img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
.ps-items {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    overflow-x: auto;
    object-fit: cover;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0 2rem;
    -webkit-overflow-scrolling: touch;
    padding: 0 2rem;
}
.ps-item {
    flex: none;
    width: 40vw;
    scroll-snap-align: start;
    pointer-events: none;

    @media (min-width: 768px) {
        width: 25vw;
    }

    img {
        aspect-ratio: 4/3;
    }

    &:nth-of-type(odd) {
        img {
            aspect-ratio: 3/4;
        }
    }
}
