.ps-wrapper {
    width: 100vw;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.ps-items {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    overflow-x: auto;
    object-fit: cover;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.ps-item {
    flex: none;
    width: 45vw;
    height: 40vh;
    scroll-snap-align: start;
    pointer-events: none;

    &:nth-of-type(odd) {
        height: 50vh;
        width: 30vw;
    }
}
